In [13]:
record = {'1001': {'name': 'pen', 'pr': 100 , 'qu': 10 , 'dis': 2},
         '1002': {'name': 'pencil', 'pr': 10, 'qu': 2 , 'dis': 2},
         '1003': {'name': 'handwash', 'pr': 80 , 'qu': 200 , 'dis': 2},
         '1004': {'name': 'shampoo', 'pr': 170 , 'qu': 340 , 'dis': 3},
         '1005': {'name': 'hair oil', 'pr': 60 , 'qu': 200 , 'dis': 4},
         '1006': {'name': 'ponds', 'pr': 30 , 'qu': 100 , 'dis': 4},
         '1007': {'name': 'groundnut oil', 'pr': 230 , 'qu': 10 , 'dis': 2},
         '1008': {'name': 'washing powder', 'pr': 470 , 'qu': 5 , 'dis': 2},
         '1009': {'name': 'chocolate cake ', 'pr': 400 , 'qu': 20 , 'dis': 5},
         '1010': {'name': 'bournvita', 'pr': 300 , 'qu': 1 , 'dis': 5},
         '1011': {'name': 'dishwasher', 'pr': 350 , 'qu': 5 , 'dis': 2},
         '1012': {'name': 'dates', 'pr': 250 , 'qu': 500 , 'dis': 2},
         '1013': {'name': 'oreo', 'pr': 100 , 'qu': 10 , 'dis': 5},
         '1014': {'name': 'milk cake ', 'pr': 300 , 'qu': 30 , 'dis': 5},
         '1015': {'name': 'frooti fruit drink ', 'pr': 100 , 'qu': 2 , 'dis': 5},
         '1016': {'name': 'coco-cola', 'pr': 65 , 'qu': 1 , 'dis': 4},
         '1017': {'name': 'cadbury dairy milk', 'pr': 456 , 'qu': 3 , 'dis': 5},
         '1018': {'name': 'ferrero rocher ', 'pr': 296 , 'qu': 139 , 'dis': 5},
         '1019': {'name': 'teddy' , 'pr': 609 ,'qu':1,'dis':4},
         '1020': {'name': 'minicartoon mirror' , 'pr': 329 ,'qu':1,'dis':4},
         '1021': {'name': 'makeup bursh set' , 'pr': 199 ,'qu':1,'dis':4}, 
         '1022': {'name': 'wallet' , 'pr': 500 ,'qu':2,'dis':4},
         '1023': {'name': 'waterbottle' , 'pr': 790 ,'qu':6,'dis':3},
         '1024': {'name': 'powerbank' , 'pr': 780 ,'qu':1,'dis':2},
         '1025': {'name': 'hairdryer' , 'pr': 399 ,'qu':1,'dis':4},
         '1026': {'name': 'camera', 'pr':29329, 'qu': 1 , 'dis': 5},
         '1027': {'name': 'watches', 'pr': 1500 , 'qu': 5 , 'dis': 2},
         '1028': {'name': 'handbags', 'pr': 789 , 'qu': 1 , 'dis': 2},
         '1029': {'name': 'headphones', 'pr': 1000 , 'qu': 2, 'dis': 5},
         '1030': {'name': 'candy', 'pr':100, 'qu': 50 , 'dis': 5}}

# Read data from json

In [16]:
import json

fd = open("record.json",'r')
r = fd.read()
fd.close()

record = json.loads(r)

In [17]:
record

{'1001': {'name': 'pen', 'pr': 100, 'qu': 10, 'dis': 2},
 '1002': {'name': 'pencil', 'pr': 10, 'qu': 2, 'dis': 2},
 '1003': {'name': 'handwash', 'pr': 80, 'qu': 200, 'dis': 2},
 '1004': {'name': 'shampoo', 'pr': 170, 'qu': 340, 'dis': 3},
 '1005': {'name': 'hair oil', 'pr': 60, 'qu': 200, 'dis': 4},
 '1006': {'name': 'ponds', 'pr': 30, 'qu': 100, 'dis': 4},
 '1007': {'name': 'groundnut oil', 'pr': 230, 'qu': 10, 'dis': 2},
 '1008': {'name': 'washing powder', 'pr': 470, 'qu': 5, 'dis': 2},
 '1009': {'name': 'chocolate cake ', 'pr': 400, 'qu': 20, 'dis': 5},
 '1010': {'name': 'bourn|vita', 'pr': 300, 'qu': 1, 'dis': 5},
 '1011': {'name': 'dishwasher', 'pr': 350, 'qu': 5, 'dis': 2},
 '1012': {'name': 'dates', 'pr': 250, 'qu': 500, 'dis': 2},
 '1013': {'name': 'oreo', 'pr': 100, 'qu': 10, 'dis': 5},
 '1014': {'name': 'milk cake ', 'pr': 300, 'qu': 30, 'dis': 5},
 '1015': {'name': 'frooti fruit drink ', 'pr': 100, 'qu': 2, 'dis': 5},
 '1016': {'name': 'coco-cola', 'pr': 65, 'qu': 1, 'dis': 4},
 '1017': {'name': 'cadbury dairy milk', 'pr': 456, 'qu': 3, 'dis': 5},
 '1018': {'name': 'ferrero rocher ', 'pr': 296, 'qu': 139, 'dis': 5},
 '1019': {'name': 'teddy', 'pr': 609, 'qu': 1, 'dis': 4},
 '1020': {'name': 'minicartoon mirror', 'pr': 329, 'qu': 1, 'dis': 4},
 '1021': {'name': 'makeup bursh set', 'pr': 199, 'qu': 1, 'dis': 4},
 '1022': {'name': 'wallet', 'pr': 500, 'qu': 2, 'dis': 4},
 '1023': {'name': 'waterbottle', 'pr': 790, 'qu': 6, 'dis': 3},
 '1024': {'name': 'powerbank', 'pr': 780, 'qu': 1, 'dis': 2},
 '1025': {'name': 'hairdryer', 'pr': 399, 'qu': 1, 'dis': 4},
 '1026': {'name': 'camera', 'pr': 29329, 'qu': 1, 'dis': 5},
 '1027': {'name': 'watches', 'pr': 1500, 'qu': 5, 'dis': 2},
 '1028': {'name': 'handbags', 'pr': 789, 'qu': 0, 'dis': 2},
 '1029': {'name': 'headphones', 'pr': 1000, 'qu': 2, 'dis': 5},
 '1030': {'name': 'candy', 'pr': 100, 'qu': 50, 'dis': 5}}

# Add products to inventory

In [4]:
prod_id = str(input("Enter product id:"))
name = str(input("Enter name:"))
pr = int(input("Enter price:"))
qu = int(input("Enter quantity:"))
dis = int(input("Enter discount :"))

Enter product id:1031
Enter name:lipstick
Enter price:300
Enter quantity:6
Enter discount :1

In [18]:
{prod_id : {'name':name, 'pr':pr, 'qu': qu , 'dis':dis}}

{'1031': {'name': 'lipstick', 'pr': 300, 'qu': 6, 'dis': 1}}

In [19]:
record[prod_id] ={'name': name, 'pr': pr, 'qu': qu, 'dis':dis}

In [21]:
record

{'1001': {'name': 'pen', 'pr': 100, 'qu': 10, 'dis': 2},
 '1002': {'name': 'pencil', 'pr': 10, 'qu': 2, 'dis': 2},
 '1003': {'name': 'handwash', 'pr': 80, 'qu': 200, 'dis': 2},
 '1004': {'name': 'shampoo', 'pr': 170, 'qu': 340, 'dis': 3},
 '1005': {'name': 'hair oil', 'pr': 60, 'qu': 200, 'dis': 4},
 '1006': {'name': 'ponds', 'pr': 30, 'qu': 100, 'dis': 4},
 '1007': {'name': 'groundnut oil', 'pr': 230, 'qu': 10, 'dis': 2},
 '1008': {'name': 'washing powder', 'pr': 470, 'qu': 5, 'dis': 2},
 '1009': {'name': 'chocolate cake ', 'pr': 400, 'qu': 20, 'dis': 5},
 '1010': {'name': 'bourn|vita', 'pr': 300, 'qu': 1, 'dis': 5},
 '1011': {'name': 'dishwasher', 'pr': 350, 'qu': 5, 'dis': 2},
 '1012': {'name': 'dates', 'pr': 250, 'qu': 500, 'dis': 2},
 '1013': {'name': 'oreo', 'pr': 100, 'qu': 10, 'dis': 5},
 '1014': {'name': 'milk cake ', 'pr': 300, 'qu': 30, 'dis': 5},
 '1015': {'name': 'frooti fruit drink ', 'pr': 100, 'qu': 2, 'dis': 5},
 '1016': {'name': 'coco-cola', 'pr': 65, 'qu': 1, 'dis': 4},
 '1017': {'name': 'cadbury dairy milk', 'pr': 456, 'qu': 3, 'dis': 5},
 '1018': {'name': 'ferrero rocher ', 'pr': 296, 'qu': 139, 'dis': 5},
 '1019': {'name': 'teddy', 'pr': 609, 'qu': 1, 'dis': 4},
 '1020': {'name': 'minicartoon mirror', 'pr': 329, 'qu': 1, 'dis': 4},
 '1021': {'name': 'makeup bursh set', 'pr': 199, 'qu': 1, 'dis': 4},
 '1022': {'name': 'wallet', 'pr': 500, 'qu': 2, 'dis': 4},
 '1023': {'name': 'waterbottle', 'pr': 790, 'qu': 6, 'dis': 3},
 '1024': {'name': 'powerbank', 'pr': 780, 'qu': 1, 'dis': 2},
 '1025': {'name': 'hairdryer', 'pr': 399, 'qu': 1, 'dis': 4},
 '1026': {'name': 'camera', 'pr': 29329, 'qu': 1, 'dis': 5},
 '1027': {'name': 'watches', 'pr': 1500, 'qu': 5, 'dis': 2},
 '1028': {'name': 'handbags', 'pr': 789, 'qu': 0, 'dis': 2},
 '1029': {'name': 'headphones', 'pr': 1000, 'qu': 2, 'dis': 5},
 '1030': {'name': 'candy', 'pr': 100, 'qu': 50, 'dis': 5},
 '1031': {'name': 'lipstick', 'pr': 300, 'qu': 6, 'dis': 1}}

# purchase and billing of customers

In [22]:

print('----------------------------------------------')
ui_prod  = str(input("Enter the product_Id: "))
ui_quant = int(input("Enter the quantity: "))
ui_dis = int(input("Enter Discount on product : "))


print("Product id: ", record[ui_prod]['name'])
print("Price: ",record[ui_prod]['pr'])
print("Discount:  ",record[ui_prod]['dis'])
print('**********************************************************************')
print("Billing Amount: ", record[ui_prod]['pr'] * ui_quant*(ui_dis/100))
print('**********************************************************************')
print('----------------------------------------------')
record[ui_prod]['qu'] = record[ui_prod]['qu'] - ui_quant

----------------------------------------------
Enter the product_Id: 1019
Enter the quantity: 1
Enter Discount on product : 4
Product id:  teddy
Price:  609
Discount:   4
**********************************************************************
Billing Amount:  24.36
**********************************************************************
----------------------------------------------

# Update after purchase

In [24]:
js = json.dumps(record)

fd = open("record.json",'w')
fd.write(js)
fd.close()

In [25]:
record

{'1001': {'name': 'pen', 'pr': 100, 'qu': 10, 'dis': 2},
 '1002': {'name': 'pencil', 'pr': 10, 'qu': 2, 'dis': 2},
 '1003': {'name': 'handwash', 'pr': 80, 'qu': 200, 'dis': 2},
 '1004': {'name': 'shampoo', 'pr': 170, 'qu': 340, 'dis': 3},
 '1005': {'name': 'hair oil', 'pr': 60, 'qu': 200, 'dis': 4},
 '1006': {'name': 'ponds', 'pr': 30, 'qu': 100, 'dis': 4},
 '1007': {'name': 'groundnut oil', 'pr': 230, 'qu': 10, 'dis': 2},
 '1008': {'name': 'washing powder', 'pr': 470, 'qu': 5, 'dis': 2},
 '1009': {'name': 'chocolate cake ', 'pr': 400, 'qu': 20, 'dis': 5},
 '1010': {'name': 'bourn|vita', 'pr': 300, 'qu': 1, 'dis': 5},
 '1011': {'name': 'dishwasher', 'pr': 350, 'qu': 5, 'dis': 2},
 '1012': {'name': 'dates', 'pr': 250, 'qu': 500, 'dis': 2},
 '1013': {'name': 'oreo', 'pr': 100, 'qu': 10, 'dis': 5},
 '1014': {'name': 'milk cake ', 'pr': 300, 'qu': 30, 'dis': 5},
 '1015': {'name': 'frooti fruit drink ', 'pr': 100, 'qu': 2, 'dis': 5},
 '1016': {'name': 'coco-cola', 'pr': 65, 'qu': 1, 'dis': 4},
 '1017': {'name': 'cadbury dairy milk', 'pr': 456, 'qu': 3, 'dis': 5},
 '1018': {'name': 'ferrero rocher ', 'pr': 296, 'qu': 139, 'dis': 5},
 '1019': {'name': 'teddy', 'pr': 609, 'qu': 0, 'dis': 4},
 '1020': {'name': 'minicartoon mirror', 'pr': 329, 'qu': 1, 'dis': 4},
 '1021': {'name': 'makeup bursh set', 'pr': 199, 'qu': 1, 'dis': 4},
 '1022': {'name': 'wallet', 'pr': 500, 'qu': 2, 'dis': 4},
 '1023': {'name': 'waterbottle', 'pr': 790, 'qu': 6, 'dis': 3},
 '1024': {'name': 'powerbank', 'pr': 780, 'qu': 1, 'dis': 2},
 '1025': {'name': 'hairdryer', 'pr': 399, 'qu': 1, 'dis': 4},
 '1026': {'name': 'camera', 'pr': 29329, 'qu': 1, 'dis': 5},
 '1027': {'name': 'watches', 'pr': 1500, 'qu': 5, 'dis': 2},
 '1028': {'name': 'handbags', 'pr': 789, 'qu': 0, 'dis': 2},
 '1029': {'name': 'headphones', 'pr': 1000, 'qu': 2, 'dis': 5},
 '1030': {'name': 'candy', 'pr': 100, 'qu': 50, 'dis': 5},
 '1031': {'name': 'lipstick', 'pr': 300, 'qu': 6, 'dis': 1}}

# sales of json

In [27]:
{'prod' : ui_prod, 'qu' : ui_quant, 'amount': record[ui_prod]['pr'] * ui_quant}

{'prod': '1019', 'qu': 1, 'amount': 609}